<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ClazzMapper">
    <!--根据班级信息返回resultMap-->
    <select id="selectClazzById" parameterType="int" resultMap="clazzResultMap">
        SELECT * FROM tb_clazz WHERE id = #{id}
    </select>

    <!--映射clazz对象的resultMap-->
    <resultMap id="clazzResultMap" type="com.entity.Clazz">
        <!--传入的数据类型int-id-->
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <!--一对多关联映射-->
        <!--注意关联配置问题com.mapper.StudentMapper.selectStudentByClazzId-->
        <collection property="students" javaType="ArrayList"
                    column="id" ofType="com.entity.Student"
                    select="com.mapper.StudentMapper.selectStudentByClazzId" fetchType="lazy">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="age" column="age"/>
        </collection>
    </resultMap>
</mapper>