<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <!--查询所有用户数据-->
    <select id="selectAllUserById" parameterType="int" resultType="user">
        SELECT * FROM user WHERE id=#{id}
    </select>
    <!--插入用户数据，自增-->
    <insert id="saveUser" parameterType="user" useGeneratedKeys="true">
        INSERT INTO user(name,age) VALUES (#{name},#{age})
    </insert>
</mapper>